// COLORS
$color-primary: #66fcf1;
$color-primary-light: #77f1e9;
$color-primary-dark: #19beb3;

$color-white: #fff;
$color-black: #000;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-tertiary: #c60909;
$color-tertiary-light: #f72727;
$color-tertiary-dark: #800505;

// FONTSIZE
$default-font-size: 1.6rem;

// GRID
