// COLORS
$color-primary: #f75008;
$color-primary-light: #f76a2d;
$color-primary-dark: #de4605;

$color-white: #fff;
$color-white-2: #f6f5f7;
$color-black: #000;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #c9c7c7;
$color-grey-light-2: #a9a9a9;
$color-grey-light-3: #d0d0d0;

// FONTSIZE
$default-font-size: 1.6rem;

// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;
