/*
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
[1200 - 1800px] Normal styles apply
1800px +: Big Desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f6f5f7;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #333;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@-webkit-keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 110;
}

.logo__btn:link, .logo__btn:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #f75008;
  padding: 0.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 0rem 1.2rem;
}

.logo__btn:hover {
  background-color: #f75008;
  color: #fff;
  padding: 0.4rem;
  border-radius: 3px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.logo__image {
  height: 5rem;
}

.logo__locations {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

@media (max-width: 37.5em) {
  .logo__locations {
    font-size: 1.2rem;
  }
}

.logo__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  font-weight: 500;
  text-transform: uppercase;
}

.logo__links li {
  list-style: none;
}

.logo__links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.3rem;
  font-size: 1.4rem;
}

.logo__burger {
  display: none;
  cursor: pointer;
}

.logo__burger div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #fff;
  margin: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .logo__links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    position: -webkit-sticky;
    position: sticky;
  }
  .logo__links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .logo__links li {
    opacity: 0;
  }
  .logo__burger {
    display: block;
  }
  .wrapper-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
          transform: rotate(-45deg) translate(-5px, 4px);
  background-color: #f75008;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -4px);
          transform: rotate(45deg) translate(-5px, -4px);
  background-color: #f75008;
}

.footer {
  background-color: #000;
  padding: 4rem;
  color: #a9a9a9;
}

@media (max-width: 37.5em) {
  .footer {
    padding: 2rem;
  }
}

.footer__logo-box {
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  display: -ms-grid;
  display: grid;
}

@media (max-width: 37.5em) {
  .footer__logo-box {
    grid-column-gap: 1.2rem;
  }
}

.footer__logo-box::before, .footer__logo-box::after {
  content: "";
  height: 1px;
  display: block;
  background-color: #a9a9a9;
}

.footer__logo {
  width: 20rem;
  height: auto;
}

@media (max-width: 37.5em) {
  .footer__logo {
    width: 16rem;
    height: auto;
  }
}

@media (max-width: 56.25em) {
  .footer__logo {
    width: 17rem;
    height: auto;
  }
}

.footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__navigation2 {
  margin-top: 4rem;
}

.footer__copyright {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
}

@media (max-width: 37.5em) {
  .footer__copyright {
    font-size: 1.1rem;
  }
}

.footer__copyright i {
  color: #f75008;
  font-size: 1.4rem;
}

.footer__credit:link, .footer__credit:visited {
  text-transform: uppercase;
  color: #c9c7c7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 500;
}

.footer__credit:hover, .footer__credit:active {
  color: #f75008;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.footer__links:link, .footer__links:visited {
  color: #c9c7c7;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 500;
  font-size: 1.4rem;
  margin-left: 6rem;
}

@media (max-width: 37.5em) {
  .footer__links:link, .footer__links:visited {
    font-size: 1rem;
    margin-left: 2rem;
  }
}

@media (max-width: 56.25em) {
  .footer__links:link, .footer__links:visited {
    font-size: 1.2rem;
    margin-left: 2.4rem;
  }
}

.footer__links:hover, .footer__links:active {
  color: #f75008;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.social {
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: #f6f5f7;
  margin: 1rem;
  border-radius: 30%;
  color: #f75008;
  overflow: hidden;
  position: relative;
}

@media (max-width: 37.5em) {
  .btn {
    height: 3rem;
    width: 3rem;
  }
}

.btn i {
  line-height: 4rem;
  font-size: 2rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media (max-width: 37.5em) {
  .btn i {
    line-height: 3rem;
    font-size: 1.6rem;
  }
}

.btn:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f6f5f7;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #f75008;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  -webkit-animation: aaa 0.7s 1;
          animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.header {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(71, 71, 71, 0.6)), url("/img/times-square.jpg");
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}

.header__welcome {
  position: absolute;
  top: 50%;
  left: 23%;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
}

@media (max-width: 56.25em) {
  .header__welcome {
    left: 24%;
  }
}

@media (max-width: 37.5em) {
  .header__welcome {
    left: 12%;
  }
}

.header__main {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 3rem;
}

.header__primary-main {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: block;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media (max-width: 56.25em) {
  .header__primary-main {
    letter-spacing: 0rem;
    font-size: 3.5rem;
  }
}

@media (max-width: 37.5em) {
  .header__primary-main {
    font-size: 4rem;
    width: 100vw;
    -webkit-animation: none;
            animation: none;
  }
}

.header__primary-sub {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-left: 17rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

@media (max-width: 56.25em) {
  .header__primary-sub {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .header__primary-sub {
    display: none;
  }
}

.services-btn {
  text-align: center;
  margin-top: 3rem;
}

.services-btn__secondary:link, .services-btn__secondary:visited {
  border: 2px solid black;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, #fff 0%, #fff 50%, #f76a2d 50%);
  background-size: 220%;
  letter-spacing: 0.2rem;
  border-radius: 3px;
  padding: 0.5rem 1.8rem;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.services-btn__secondary:hover {
  color: #fff;
  border-color: #333;
  background-position: 99%;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.services-btn__secondary:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.center-btn {
  -webkit-transform: translateX(41%);
          transform: translateX(41%);
}

@media (max-width: 56.25em) {
  .center-btn {
    -webkit-transform: translateX(29%);
            transform: translateX(29%);
  }
}

@media (max-width: 37.5em) {
  .center-btn {
    -webkit-transform: translateX(29%);
            transform: translateX(29%);
  }
}

.btn-main:link, .btn-main:visited {
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4.2rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  color: #000;
  background-image: linear-gradient(120deg, #fff 0%, #fff 50%, #f75008 50%);
  background-size: 220%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
}

.btn-main:hover, .btn-main:active {
  background-position: 100%;
  color: #fff;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.contact__btn {
  border-radius: 20px;
  border: 1px solid #f75008;
  background-color: #f75008;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.2rem 4.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
  cursor: pointer;
}

@media (max-width: 37.5em) {
  .contact__btn {
    padding: 1rem 3rem;
    margin-top: 1rem;
  }
}

.contact__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.contact__btn:focus {
  outline: none;
}

.contact__ghost {
  background-color: transparent;
  border-color: #fff;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.popup__content {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80rem;
  max-height: 60rem;
  width: 60%;
  height: 80%;
  background-color: #f6f5f7;
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
  -webkit-transition: 0.74s ease-in-out;
  transition: 0.74s ease-in-out;
}

.popup__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.popup__photo img {
  width: auto;
  height: 100%;
}

.popup__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 3rem;
  width: 60%;
}

.popup__text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #f75008;
}

.popup__text p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
  font-weight: 500;
}

.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 100%;
  background-color: #0a0a0a;
  z-index: 4;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.popup__close a {
  color: #f75008;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup:target .popup__content {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.clients {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.89)), to(rgba(0, 0, 0, 0.89))), url(/img/photo-of-people-doing-handshakes-3183197.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.89)), url(/img/photo-of-people-doing-handshakes-3183197.jpg);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .clients {
    height: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 56.25em) {
  .clients {
    height: 100%;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.clients__top {
  text-align: center;
  color: #fff;
}

.clients__header {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 1.5rem;
}

@media (max-width: 37.5em) {
  .clients__header {
    font-size: 2rem;
  }
}

@media (max-width: 56.25em) {
  .clients__header {
    font-size: 2.5rem;
  }
}

.clients__sub-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  padding: 1.5rem;
}

@media (max-width: 37.5em) {
  .clients__sub-header {
    font-size: 1rem;
  }
}

@media (max-width: 56.25em) {
  .clients__sub-header {
    font-size: 1.3rem;
  }
}

.clients__box {
  text-align: center;
  margin: -2rem 1rem 1rem 3.8rem;
  display: inline-block;
}

.clients__inner-width {
  max-width: 120rem;
  margin: auto;
  padding: 0 2rem;
}

@media (max-width: 37.5em) {
  .clients__inner-width {
    max-width: 40rem;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 56.25em) {
  .clients__inner-width {
    max-width: 50rem;
  }
}

.clients__icon {
  width: 30rem;
  height: 30rem;
  margin: auto;
  /* background: black; */
  display: table-cell;
  vertical-align: middle;
}

.owl-dots {
  text-align: center;
  margin-top: 4rem;
}

.owl-dot {
  width: 1.4rem;
  height: 1.4rem;
  background: white !important;
  margin: 0 0.6rem;
  border-radius: 1.4rem;
  outline: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.owl-dot.active {
  width: 3.6rem;
  background: #f75008 !important;
}

.owl-dot:hover {
  width: 3.6rem;
  background: #f75008 !important;
}

.contact {
  background: #f6f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

@media (max-width: 37.5em) {
  .contact {
    width: auto;
    padding: 0rem;
  }
}

@media (max-width: 56.25em) {
  .contact {
    width: auto;
    padding: 8rem;
    height: 65%;
  }
}

.contact__main {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 3rem;
}

@media (max-width: 37.5em) {
  .contact__main {
    font-size: 2.5rem;
  }
}

.contact__border {
  width: 16.5rem;
  height: 2px;
  background: #f75008;
  margin: 2.5rem auto;
}

.contact__title {
  font-weight: bold;
  margin: 0;
  font-size: 2rem;
}

@media (max-width: 37.5em) {
  .contact__title {
    font-size: 1.4rem;
  }
}

.contact__paragraph {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 0.5px;
  margin: 2rem 0 3rem;
}

@media (max-width: 37.5em) {
  .contact__paragraph {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

.contact__form {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 6rem;
  height: 100%;
  text-align: center;
}

@media (max-width: 37.5em) {
  .contact__form {
    width: 100%;
  }
}

.contact__text {
  resize: none;
  background-color: #eee;
  border: none;
  padding: 1.2rem 1.5rem;
  margin: 0.8rem 0;
  width: 100%;
}

@media (max-width: 37.5em) {
  .contact__text {
    padding: 6px 8px;
    width: 30vw;
    font-size: 1rem;
  }
}

.contact__select {
  color: #999;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  cursor: pointer;
  height: 25px;
}

@media (max-width: 37.5em) {
  .contact__select {
    padding: 6px 8px;
    width: 30vw;
    font-size: 1rem;
  }
}

.contact__input {
  background-color: #eee;
  border: none;
  padding: 8px 15px;
  margin: 8px 0;
  width: 100%;
}

@media (max-width: 37.5em) {
  .contact__input {
    padding: 6px 9px;
    margin: 6px 0;
    width: 30vw;
  }
}

@media (max-width: 56.25em) {
  .contact__input {
    padding: 4px 8px;
    margin: 5px 0;
  }
}

.contact label {
  font-size: 9px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  margin-left: 1.7rem;
}

@media (max-width: 37.5em) {
  .contact label {
    display: none;
  }
}

@media (max-width: 56.25em) {
  .contact label {
    display: none;
  }
}

.contact__details2 {
  display: inline-block;
  margin-right: 0.5rem;
}

@media (max-width: 37.5em) {
  .contact__details2 {
    display: none;
  }
}

@media (max-width: 56.25em) {
  .contact__details2 {
    display: none;
  }
}

.contact__sub-title {
  font-size: 12px;
}

@media (max-width: 37.5em) {
  .contact__sub-title {
    font-size: 8px;
  }
}

a {
  color: #333;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 1.5rem 0;
}

@media (max-width: 37.5em) {
  a {
    margin: 0;
  }
}

.container {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin-top: 1.8rem;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay__container {
  background: #de4605;
  background: -webkit-gradient(linear, left top, right top, from(#f75008), to(#f76a2d));
  background: linear-gradient(to right, #f75008, #f76a2d);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.overlay__panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.overlay__left {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.overlay__right {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container.right-panel-active .overlay {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.container.right-panel-active .overlay__container {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.container.right-panel-active .overlay__left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container.right-panel-active .overlay__right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

@media (max-width: 37.5em) {
  .social-container a {
    height: 20px;
    width: 20px;
    margin: 0;
  }
}

.services {
  background: #f6f5f7;
  height: 120vh;
}

@media (max-width: 56.25em) {
  .services {
    height: 80%;
  }
}

.services__main {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 3rem;
}

.services__border {
  width: 16.5rem;
  height: 2px;
  background: #f75008;
  margin: 2.5rem auto;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__box {
  max-width: 25%;
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: #000;
}

.services__icon {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border: 3px solid #f76a2d;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 2.6rem;
  margin-top: 1.5rem;
  color: #f76a2d;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.services__icon i {
  line-height: 6.5rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 2.6rem;
}

.services__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
}

.services__desc {
  font-size: 1.3rem;
}

.services__box:hover .services__icon {
  background: #f76a2d;
  color: #fff;
}

.inner-width {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0rem 2rem;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .services__box {
    max-width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .services__box {
    max-width: 35%;
  }
}

@media screen and (max-width: 480px) {
  .services__box {
    max-width: 100%;
  }
}

.about__container1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("/img/photograph-of-men-having-conversation-seating-on-chair-1015568.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/img/photograph-of-men-having-conversation-seating-on-chair-1015568.jpg");
  height: 40vh;
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  margin-top: 2rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background-color: #f6f5f7;
}

@media (max-width: 37.5em) {
  .about__container1 {
    height: 30vh;
  }
}

.about__header {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  z-index: 20;
  display: block;
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 37.5em) {
  .about__header {
    font-size: 3rem;
  }
}

@media (max-width: 56.25em) {
  .about__header {
    font-size: 3.8rem;
  }
}

.about__sub-header {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 37.5em) {
  .about__sub-header {
    font-size: 0.8rem;
  }
}

@media (max-width: 56.25em) {
  .about__sub-header {
    font-size: 1.2rem;
  }
}

.about__paragraph {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

@media (max-width: 56.25em) {
  .about__paragraph {
    font-size: 1.3rem;
  }
}

@media (max-width: 37.5em) {
  .about__paragraph {
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 0.8rem;
  }
}

.about__border {
  width: 16.5rem;
  height: 2px;
  background: #f75008;
  margin: 2rem auto;
}

.about__container2 {
  margin-top: -2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__box {
  max-width: 25%;
  padding: 1.5rem;
  text-align: center;
  display: block;
  margin: 0 10rem;
  margin-bottom: -1rem;
}

@media (max-width: 37.5em) {
  .about__box {
    margin: 4rem;
    max-width: 50%;
  }
}

@media (max-width: 56.25em) {
  .about__box {
    padding: 1.2rem;
  }
}

.about__icon {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

@media (max-width: 37.5em) {
  .about__icon {
    width: 9rem;
    height: 9rem;
    margin-top: 1.5rem;
  }
}

.about__title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  color: #f75008;
}

@media (max-width: 37.5em) {
  .about__title {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=main.css.map */