*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #333;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo__btn:link, .logo__btn:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #f75008;
  padding: 0.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 0rem 1.2rem;
}

.logo__btn:hover {
  background-color: #f75008;
  color: #fff;
  padding: 0.4rem;
  border-radius: 3px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.logo__image {
  height: 5rem;
}

.logo__locations {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.logo__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  font-weight: 500;
  text-transform: uppercase;
}

.logo__links li {
  list-style: none;
}

.logo__links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.3rem;
  font-size: 1.4rem;
}

.logo__burger {
  display: none;
  cursor: pointer;
}

.logo__burger div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #fff;
  margin: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .logo__links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    position: -webkit-sticky;
    position: sticky;
  }
  .logo__links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .logo__links li {
    opacity: 0;
  }
  .logo__burger {
    display: block;
  }
  .wrapper-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #f75008;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background-color: #f75008;
}

.header {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(71, 71, 71, 0.6)), url("/img/times-square.jpg");
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}

.header__welcome {
  position: absolute;
  top: 50%;
  left: 23%;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
}

.header__main {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 3rem;
}

.header__primary-main {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: block;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.header__primary-sub {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-left: 17rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.services-btn {
  text-align: center;
  margin-top: 3rem;
}

.services-btn__secondary:link, .services-btn__secondary:visited {
  border: 2px solid black;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, #fff 0%, #fff 50%, #f76a2d 50%);
  background-size: 220%;
  letter-spacing: 0.2rem;
  border-radius: 3px;
  padding: 0.5rem 1.8rem;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.services-btn__secondary:hover {
  color: #fff;
  border-color: #333;
  background-position: 99%;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.services-btn__secondary:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.center-btn {
  -webkit-transform: translateX(41%);
          transform: translateX(41%);
}

.btn-main:link, .btn-main:visited {
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4.2rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  color: #000;
  background-image: linear-gradient(120deg, #fff 0%, #fff 50%, #f75008 50%);
  background-size: 220%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
}

.btn-main:hover, .btn-main:active {
  background-position: 100%;
  color: #fff;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.clients {
  width: 100%;
  background: #000;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__top {
  text-align: center;
  color: #fff;
}

.clients__header {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 1.5rem;
}

.clients__sub-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  padding: 1.5rem;
  margin-top: 1rem;
}

.clients__border {
  width: 16.5rem;
  height: 2px;
  background: #fff;
  margin: 3rem auto;
}

.clients__box {
  text-align: center;
  margin: -2rem 1rem 1rem 3.8rem;
  display: inline-block;
}

.clients__inner-width {
  max-width: 120rem;
  margin: auto;
  padding: 0 2rem;
}

.clients__icon {
  width: 30rem;
  height: 30rem;
  margin: auto;
  /* background: black; */
  display: table-cell;
  vertical-align: middle;
}

.owl-dots {
  text-align: center;
  margin-top: 4rem;
}

.owl-dot {
  width: 1.4rem;
  height: 1.4rem;
  background: white !important;
  margin: 0 0.6rem;
  border-radius: 1.4rem;
  outline: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.owl-dot.active {
  width: 3.6rem;
  background: #f75008 !important;
}

.owl-dot:hover {
  width: 3.6rem;
  background: #f75008 !important;
}

.contact {
  background: #fff;
  padding: 4rem 0;
}

.contact__header {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 3rem;
}

.contact__border {
  width: 16.5rem;
  height: 2px;
  background: #f75008;
  margin: 2.5rem auto;
}

.contact__form {
  max-width: 60rem;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}

.contact__text {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1.6rem 0;
  border: 0;
  background: #111;
  padding: 2rem 4rem;
  outline: none;
  color: red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
}

.services {
  background: #fff;
  height: 110vh;
}

.services__main {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 3rem;
}

.services__border {
  width: 16.5rem;
  height: 2px;
  background: #f75008;
  margin: 2.5rem auto;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__box {
  max-width: 25%;
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: #000;
}

.services__icon {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border: 3px solid #f76a2d;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 2.6rem;
  margin-top: 1.5rem;
  color: #f76a2d;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.services__icon i {
  line-height: 6.5rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 2.6rem;
}

.services__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
}

.services__desc {
  font-size: 1.3rem;
}

.services__box:hover .services__icon {
  background: #f76a2d;
  color: #fff;
}

.inner-width {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0rem 2rem;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .services__box {
    max-width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .services__box {
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .services__box {
    max-width: 100%;
  }
}

.about__container1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("/img/photograph-of-men-having-conversation-seating-on-chair-1015568.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/img/photograph-of-men-having-conversation-seating-on-chair-1015568.jpg");
  height: 55vh;
  background-size: cover;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  margin-top: -6rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.about__header {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  z-index: 20;
  display: block;
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about__sub-header {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about__paragraph {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

.about__border {
  width: 16.5rem;
  height: 2px;
  background: #f75008;
  margin: 1rem auto;
}

.about__container2 {
  margin-top: -2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__box {
  max-width: 25%;
  padding: 1.5rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: -1rem;
}

.about__icon {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.about__title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  color: #f75008;
}
/*# sourceMappingURL=main.css.map */