.footer {
  background-color: $color-black;
  padding: 4rem;
  color: $color-grey-light-2;

  @include respond(phone) {
    padding: 2rem;
  }

  &__logo-box {
    // text-align: center;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
    display: grid;

    @include respond(phone) {
      grid-column-gap: 1.2rem;
    }

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: $color-grey-light-2;
    }
  }

  &__logo {
    width: 20rem;
    height: auto;

    @include respond(phone) {
      width: 16rem;
      height: auto;
    }

    @include respond(tab-port) {
      width: 17rem;
      height: auto;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;

    @include respond(phone) {
      margin-right: -2rem;
    }
  }

  &__navigation2 {
    margin-top: 4rem;
  }

  &__copyright {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem;

    @include respond(phone) {
      font-size: 1.1rem;
    }

    i {
      color: $color-primary;
      font-size: 1.4rem;
    }
  }

  &__credit {
    &:link,
    &:visited {
      text-transform: uppercase;
      color: $color-grey-light-1;
      transition: all.2s;
      font-weight: 500;
    }
    &:hover,
    &:active {
      color: $color-primary;
      transform: scale(1.04);
    }
  }

  &__links {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.2s;
      font-weight: 500;
      font-size: 1.4rem;
      margin-left: 6rem;

      @include respond(tab-port) {
        font-size: 1.2rem;
        margin-left: 2.4rem;
      }
      @include respond(phone) {
        font-size: 1.2rem;
        margin-left: 1.6rem;
      }
    }

    &:hover,
    &:active {
      color: $color-primary;
      transform: scale(1.04);
    }
  }
}

// SOCIAL MEDIA LINKS
.social {
  width: 100%;
  text-align: center;

  @include respond(tab-land) {
    margin-left: 1rem;
  }
}
.btn {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: $color-white-2;
  margin: 1rem;
  border-radius: 30%;
  color: $color-primary;
  overflow: hidden;
  position: relative;

  @include respond(phone) {
    height: 3rem;
    width: 3rem;
  }

  i {
    line-height: 4rem;
    font-size: 2rem;
    transition: 0.2s linear;

    @include respond(phone) {
      line-height: 3rem;
      font-size: 1.6rem;
    }
  }

  &:hover i {
    transform: scale(1.3);
    color: $color-white-2;
  }

  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: $color-primary;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }

  &:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
}
// END OF SOCIAL MEDIA LINKS
