// Main background with title and button

.header {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(71, 71, 71, 0.6)), url("/img/times-square.jpg");
  height: 100vh;
  background-size: cover;
  background-position: bottom;

  &__welcome {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-5%, -50%);

    @include respond(phone) {
      transform: translate(-5%, -50%);
    }

    @include respond(tab-land) {
      transform: translate(-5%, -50%);
    }
  }

  &__main {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3rem;

    span {
      font-size: 3rem;

      @include respond(tab-land) {
        font-size: 5rem;
      }

      @include respond(phone) {
        font-size: 2.6rem;
      }
    }
  }

  &__primary-main {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(tab-port) {
      letter-spacing: 0rem;
      font-size: 3.5rem;
    }

    @include respond(tab-land) {
      font-size: 3.8rem;
    }
  }

  &__primary-sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-left: 17rem;
    animation: moveInRight 1s ease-out;

    @include respond(tab-port) {
      display: none;
    }
    // @include respond(phone) {
    //   display: none;
    // }

    @include respond(tab-land) {
      display: none;
    }
  }
}
