// Main background with title and button

.header {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9), rgba(71, 71, 71, 0.6)),
    url("./img/times-square.jpg");
  height: 100vh;
  background-size: cover;
  background-position: bottom;

  &__welcome {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-5%, -50%);

    @include respond(tab-port) {
      left: 24%;
    }

    @include respond(phone) {
      left: 20%;
    }
  }

  &__main {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3rem;
  }

  &__primary-main {
    @include main-headers;
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(tab-port) {
      letter-spacing: 0rem;
      font-size: 3.5rem;
    }

    @include respond(phone) {
      font-size: 3rem;
      width: 100vw;
      animation: none;
    }

    @include respond(tab-land) {
      font-size: 3.8rem;
    }
  }

  &__primary-sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-left: 17rem;
    animation: moveInRight 1s ease-out;

    @include respond(tab-port) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }

    @include respond(tab-land) {
      display: none;
    }
  }
}
