.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: $color-black;
  position: fixed;
  width: 100%;
  z-index: 110;

  @include respond(tab-land) {
    width: 100%;
  }
}
.logo {
  // position: fixed;

  &__btn {
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 0.4rem;
      transition: all 0.2s;
      margin: 0rem 1.2rem;

      @include respond(tab-land) {
        margin: 0;
      }
    }
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      padding: 0.4rem;
      border-radius: 3px;
      transform: translateY(-2px);
    }
  }

  &__image {
    height: 5rem;
  }

  &__locations {
    color: $color-white;
    display: flex;
    justify-content: center;
    margin-top: -1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;

    @include respond(phone) {
      font-size: 1.2rem;
    }
  }

  &__links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-weight: 500;
    text-transform: uppercase;

    li {
      list-style: none;
    }

    a {
      color: $color-white;
      text-decoration: none;
      letter-spacing: 0.3rem;
      font-size: 1.4rem;
    }
  }

  &__burger {
    display: none;
    cursor: pointer;
    div {
      width: 2.5rem;
      height: 0.3rem;
      background-color: $color-white;
      margin: 0.5rem;
      transition: all 0.3s ease;
    }
  }
}

@media screen and (max-width: 1024px) {
  .logo__links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    &__links {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background-color: $color-black;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;

      li {
        opacity: 0;
      }
    }

    &__burger {
      display: block;
    }
  }

  .wrapper-active {
    transform: translateX(0%);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-3px, 6px);
  background-color: $color-primary;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-3px, -6px);
  background-color: $color-primary;
}
