// OUR CLIENTS FEATURE SLIDE
.clients {
  width: 100%;
  background-image: linear-gradient(rgba($color-black, 0.89), rgba($color-black, 0.89)),
    url("/img/clients.jpg");
  height: 100vh;
  display: flex;
  align-items: center;

  @include respond(phone) {
    height: 80%;
    // width: 50%;
    justify-content: center;
    background-size: cover;
    align-items: center;
  }

  @include respond(tab-port) {
    justify-content: center;
    background-size: cover;
    align-items: center;
  }

  @include respond(tab-land) {
    height: 100%;
    width: auto;
    justify-content: center;
    background-size: cover;
    align-items: center;
  }

  &__top {
    text-align: center;
    color: $color-white;

    @include respond(tab-land) {
      width: 80%;
      margin-left: 10rem;
    }
  }

  &__header {
    text-transform: uppercase;
    font-size: 3rem;
    padding: 1.5rem;

    @include respond(phone) {
      font-size: 2rem;
    }

    @include respond(tab-port) {
      font-size: 2.5rem;
      overflow: hidden;
    }
  }

  &__sub-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    padding: 1.5rem;

    @include respond(phone) {
      font-size: 1rem;
    }

    @include respond(tab-port) {
      font-size: 1.3rem;
    }
  }

  &__box {
    text-align: center;
    margin: -2rem 1rem 1rem 3.8rem;
    display: inline-block;

    @include respond(tab-land) {
      margin: 0;
    }
  }

  &__inner-width {
    max-width: 120rem;
    margin: auto;
    padding: 0 2rem;

    @include respond(phone) {
      max-width: 40rem;
      margin: 0;
      padding: 0;
    }

    @include respond(tab-port) {
      max-width: 50rem;
    }
    @include respond(tab-land) {
      max-width: 80rem;
    }
  }

  &__icon {
    width: 30rem;
    height: 30rem;
    margin: auto;
    /* background: black; */
    display: table-cell;
    vertical-align: middle;
  }
}

// CAROUSEL OWL DOTS
.owl-dots {
  text-align: center;
  margin-top: 4rem;
}

.owl-dot {
  width: 1.4rem;
  height: 1.4rem;
  background: white !important;
  margin: 0 0.6rem;
  border-radius: 1.4rem;
  outline: none;
  transition: 0.3s linear;
}

.owl-dot.active {
  width: 3.6rem;
  background: $color-primary !important;
}

.owl-dot:hover {
  width: 3.6rem;
  background: $color-primary !important;
}

// END OF CLIENT FEATURE SLIDE
