// FOOTER HEART ANIMATION
.heart {
  position: relative;
  width: 10px;
  height: 10px;
  background: $color-primary;
  transform: rotate(45deg);
  animation: animate 1s linear infinite;
  padding: 0;
  margin: 0;
  display: inline-block;
  bottom: 3.5rem;
  left: 11.3rem;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 10px;
    height: 5px;
    background: $color-primary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    left: -5px;
    width: 5px;
    height: 10px;
    // background: #e80202;
    background: $color-primary;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
