.popup {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: 0.7s ease-in-out;

  &__content {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    max-width: 80rem;
    max-height: 60rem;
    width: 60%;
    height: 80%;
    background-color: $color-white-2;
    transform: rotate(32deg);
    transition: 0.74s ease-in-out;
  }

  &__photo {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;

    img {
      width: auto;
      height: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 3rem;
    width: 60%;

    h1 {
      font-size: 3.5rem;
      font-weight: 700;
      margin-bottom: 2rem;
      text-transform: uppercase;
      color: $color-primary;
    }

    p {
      font-size: 1.2rem;
      color: $color-grey-dark-3;
      line-height: 1.6;
      font-weight: 500;
    }
  }

  &__close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 100%;
    background-color: #0a0a0a;
    z-index: 4;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    a {
      color: $color-primary;
    }
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }

  &:target &__content {
    bottom: 0;
    right: 0;
    transform: rotate(0);
  }
}
