// SERVICES SECTION

.services {
  background: $color-white-2;
  height: 120vh;

  @include respond(tab-port) {
    height: 80%;
  }

  @include respond(tab-land) {
    height: 70vh;
  }

  @include respond(phone) {
    height: 100%;
  }

  &__main {
    text-align: center;
    color: $color-black;
    text-transform: uppercase;
    font-size: 3rem;
  }

  &__border {
    width: 16.5rem;
    height: 2px;
    background: $color-primary;
    margin: 2.5rem auto;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__box {
    max-width: 25%;
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    color: $color-black;
  }

  &__icon {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    border: 3px solid $color-primary-light;
    transform: rotate(45deg);
    margin-bottom: 2.6rem;
    margin-top: 1.5rem;
    color: $color-primary-light;
    // color: $color-grey-dark-1;
    transition: 0.3s linear;

    i {
      line-height: 6.5rem;
      transform: rotate(-45deg);
      font-size: 2.6rem;
    }
  }

  &__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  &__desc {
    font-size: 1.3rem;
  }
}

.services__box:hover .services__icon {
  background: $color-primary-light;
  color: $color-white;
}

.inner-width {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0rem 2rem;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .services__box {
    max-width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .services__box {
    max-width: 35%;
  }
}

@media screen and (max-width: 480px) {
  .services__box {
    max-width: 100%;
  }
}

//   END OF SERVICES SECTION

// ABOUT US SECTION

.about {
  // Container1 with main/sub title and background image
  &__container1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/img/about-us.jpg");
    height: 40vh;
    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    margin-top: 2rem;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    background-color: $color-white-2;

    @include respond(phone) {
      height: 30vh;
    }

    @include respond(tab-land) {
      height: 50vh;
    }

    @include respond(tab-port) {
      margin-top: 40rem;
    }
  }

  &__header {
    // color: $color-white;
    @include main-headers;
    z-index: 20;
    display: block;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(phone) {
      font-size: 3rem;
    }

    @include respond(tab-port) {
      font-size: 3.8rem;
    }
  }

  &__sub-header {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(phone) {
      font-size: 0.8rem;
    }

    @include respond(tab-port) {
      font-size: 1.2rem;
    }
  }

  &__paragraph {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;

    @include respond(tab-port) {
      font-size: 1.3rem;
    }

    @include respond(phone) {
      font-size: 1.3rem;
      margin-top: 1rem;
      padding: 0.8rem;
    }
  }

  &__border {
    width: 16.5rem;
    height: 2px;
    background: $color-primary;
    margin: 2rem auto;
  }
  // End of container1

  // Start of container2 with image locations and titles
  &__container2 {
    margin-top: -2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__box {
    max-width: 25%;
    padding: 1.5rem;
    text-align: center;
    display: block;
    margin: 0 10rem;
    margin-bottom: -1rem;

    @include respond(phone) {
      margin: 4rem;
      max-width: 50%;
    }

    @include respond(tab-port) {
      padding: 1.2rem;
    }
  }

  &__icon {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    margin-top: 3rem;

    @include respond(phone) {
      width: 9rem;
      height: 9rem;
      margin-top: 1.5rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-primary;

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }
}

// END OF ABOUT US SECTION
